# Distributed code (source code lives in /src)
/lib

# Common for .gitignore and .npmignore
CHANGELOG-Generated.md
src-cov/
lcov/
site/
cov.*
.vagrant
*.log

# List specific to .gitignore
node_modules
.idea/
