# Distributed code (source code lives in /src)
/lib/

# Common for .gitignore and .npmignore
.DS_Store
coverage/
cov.*
*.log
.env
.envrc

# List specific to .gitignore
node_modules
.idea/
.vscode/
/docs/_build

!.vscode/launch.json
