# Common for .gitignore and .npmignore
.DS_Store
coverage/
cov.*
*.log
.env
.envrc

# List specific to .gitignore
node_modules
.idea/
.vscode/
/docs/_build

# Regardless the rules above, never ignore following
!.vscode/launch.json
