# Common for .gitignore and .npmignore
.DS_Store
coverage/
cov.*
*.log
.env
.envrc

# List specific to .npmignore
/docs/
/test/
*.yml
*.ini
.*ignore
.*rc.js
*.config.js
*.apib
*.md

# Regardless the rules above, never ignore following
!LICENSE
!README.md
