# Source code (distributed code lives in /lib)
/src/

# Common for .gitignore and .npmignore
.DS_Store
coverage/
cov.*
*.log
.env
.envrc

# List specific to .npmignore
/docs/
/test/
.travis.yml
appveyor.yml
.npmignore
.eslintrc.js
.eslintignore
*.apib
*.md

# Regardless the rules above, never ignore following
!LICENSE
!README.md
