version: 2.1

commands:
  pip-install-docs:
    steps:
      - run: echo $(python --version) > .python-version
      - restore_cache:
          key: py-deps-{{ checksum ".python-version" }}-{{ checksum "./docs/requirements.txt" }}
      - run: 'if [ ! -d ./venv ]; then python -m venv ./venv; fi'
      - run: echo "source $(pwd)/venv/bin/activate" >> $BASH_ENV
      - run: pip install -r ./docs/requirements.txt
      - save_cache:
          key: py-deps-{{ checksum "./docs/requirements.txt" }}
          paths:
            - ./venv

aliases:
  - &install
    - run: sudo npm i -g yarn && yarn install --frozen-lockfile

  - &node12
    image: circleci/node:12

  - &python-docs # using Python 3.6 as that's the version ReadTheDocs is running
    image: circleci/python:3.6-node

  - &test-steps
    steps:
      - checkout
      - <<: *install
      - run: yarn build
      - run: yarn test

jobs:
  test-node12:
    docker: [<<: *node12]
    <<: *test-steps

  test-node10:
    docker: [image: circleci/node:10]
    <<: *test-steps

  test-node8:
    docker: [image: circleci/node:8]
    <<: *test-steps

  test-e2e-apib:
    docker: [<<: *node12]
    steps:
      - checkout
      - <<: *install
      - run: yarn build
      - run: npx lerna exec --scope="dredd" yarn e2e:apib

  test-e2e-openapi2:
    docker: [<<: *node12]
    steps:
      - checkout
      - <<: *install
      - run: yarn build
      - run: npx lerna exec --scope="dredd" yarn e2e:openapi2

  quality-checks:
    docker: [<<: *python-docs]
    steps:
      - checkout
      - <<: *install
      - pip-install-docs
      - run: yarn lint
      - run: yarn commit:lint
      - run: yarn docs:lint
      - run: yarn docs:test-extensions

  format-check:
    docker: [<<: *node12]
    steps:
      - checkout
      - <<: *install
      - run: yarn prettify:check

  docs-dry-run:
    # 'dry run', because production build happens directly on the ReadTheDocs
    # infrastructure
    docker: [<<: *python-docs]
    steps:
      - checkout
      - <<: *install
      - pip-install-docs
      - run: yarn docs:build

  smoke-tests:
    docker:
      - <<: *node12
      - image: circleci/mongo:latest
    steps:
      - checkout
      - <<: *install
      - run: yarn test:smoke

  release:
    # the GH_TOKEN and NPM_TOKEN environment variables are expected to be set
    # in https://circleci.com/gh/apiaryio/dredd/edit#env-vars
    docker: [<<: *node12]
    steps:
      - checkout
      # Disable semantic release during CI.
      # Reason: Adding packages to monorepo via Git subtree keeps commits
      # of the added packages. Prevent attempts to release any packages
      # because of that. Also, need to figure out proper release lifecycle.
      # - <<: *install
      # - run: yarn ci:release

workflows:
  version: 2
  test-and-release:
    jobs:
      - format-check
      - quality-checks
      - test-node12
      - test-node10
      - test-node8
      - test-e2e-apib
      - test-e2e-openapi2
      - smoke-tests
      - docs-dry-run
      - release:
          requires:
            - quality-checks
            - test-node12
            - test-node10
            - test-node8
            - test-e2e-apib
            - test-e2e-openapi2
            - smoke-tests
            - docs-dry-run
          filters:
            branches:
              only: master
