# Not using pipenv on purpose as ReadTheDocs do not support it yet
# https://github.com/rtfd/readthedocs.org/issues/3181


# dependencies
sphinx==5.0.1
jinja2==3.0.3
git+https://github.com/jhermann/pygments-markdown-lexer.git@e651a9a3f664285b01451eb39232b1ad9af65956#egg=pygments-markdown-lexer
pygments-apiblueprint==0.2.0
sphinx-tabs==3.2.0
sphinx-panels==0.6.0
myst-parser==0.15.2

# dev dependencies
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==1.0.0
