# Not using pipenv on purpose as ReadTheDocs do not support it yet
# https://github.com/rtfd/readthedocs.org/issues/3181


# dependencies
sphinx==1.8.1
jinja2==2.10
git+https://github.com/jhermann/pygments-markdown-lexer.git@e651a9a3f664285b01451eb39232b1ad9af65956#egg=pygments-markdown-lexer
pygments-apiblueprint==0.1.0
sphinx-tabs==1.1.10

# dev dependencies
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.2
